@import url("font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
    margin: 0;
    overflow-y: auto;
}

.mdl-layout {
    min-height: 100%;
}

main {
    height: 85%;
}

#post-content {
    padding-top: 2em;
    padding-bottom: 15em;
}

.tag {
    text-align: right;
    text-decoration: none;
}

.tag a {
    text-decoration: none;
}

.page-content {
    min-height: 85%;
}

.page {
    margin-top: 12em;
    margin-bottom: 12em;
}

body {
    margin: 0;
    background-color: #eee;
}

#main {
    min-height: 90%;
}

.drawer-menu-header {
    background: #F44336;
    color: white;
}

.nav-link:hover {
    color: #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
}

.line {
    display: inline-block;
}

.read-more {
    float: right;
}

.disqus {
    padding-top: 2em;
    padding-bottom: 2em;
}

.back {
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    z-index: 9999;
}

/*===============ARCHIVE================*/
.archive-chip {
    text-align:center;
    margin-top: 3em;
}

.archive-chip span {
    margin: 0 auto;
}

.archive-chip span span {
    margin: 0 auto;
}

/*=============CARDS==================*/
.card-adds {
    width: 850px;
    max-width: 100%;
    margin: 0 auto;
}

.card-title-text {
    font-weight: 500;
    font-size: 30px;
}

.card-title-without-pic {
    background: #263238;
    padding-top: 2em;
}

.card-title-without-pic-post {
    background: #263238;
    padding-top: 4em;
}

.card-wrapper {
    padding: 1em;
}

.card-image {
    height: 250px;
}

.card-image-post {
    height: 500px;
}

.post-adds {
    padding-left: 4em;
    padding-right: 4em;
}

.card-content {
    box-sizing: border-box;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: -1em;
}

.avatar {
    border-radius: 100%;
    width: 40px;
}

.date-main {
    font-size: small;
}

.date {
    font-size: small;
    margin-left: 1em;
    margin-top: 1em;
}

.name {
    color: #EF5350;
}

.shadow {
    background: #fc0;/*
    box-shadow: 0 0 2px rgba(0,0,0,0.5);*/
    padding: 10px;
    border-radius: 2px;
}

.tags-card {
    min-height: 100px
}
/*===============BUTTON================*/

.my-mdl-button {
    border: none;
    border-radius: 2px;
    color: white;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 5px;
    padding: 0 10px;
    display: inline-block;
    background-color: #448AFF;
@include typo-button();
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.my-mdl-button-transparent {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: white;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 5px;
    padding: 0 10px;
    display: inline-block;
@include typo-button();
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

/*=========================FOOTER================*/
.footer-icons {
    margin: 0 auto;
    font-size: large;
}

.footer-wrapper {
    margin: 0 auto;
}

.mdl-mini-footer {
    height: 10%;
}

.mdl-mini-footer__link-list > li:hover {
    color: #37474F;
}

.nav-foot {
    text-decoration: none;
}

.pagination {
    width: 850px;
    max-width: 100%;
    margin: 0 auto;
}

.pages {
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (max-width: 1000px) {
    .card-image {
        height: 250px;
    }

    .card-image-post {
        height: 500px;
    }

    .card-content {
        box-sizing: border-box;
        padding-left: 5em;
        padding-right: 5em;
        margin-top: -1em;
    }

    .date {
        font-size: small;
        margin-left: 1em;
        margin-top: 1em;
    }
}

@media screen and (max-width: 800px) {

    .card-image {
        height: 200px;
    }

    .card-image-post {
        height: 400px;
    }

    .card-content {
        box-sizing: border-box;
        padding-left: 3em;
        padding-right: 3em;
        margin-top: -1em;
    }

    .date {
        font-size: small;
        margin-left: 1em;
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .card-image {
        height: 190px;
    }

    .card-image-post {
        height: 380px;
    }

    .card-content {
        box-sizing: border-box;
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-top: -2em;
    }

    .date {
        font-size: small;
        margin-left: 0.5em;
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 400px) {
    .card-image {
        height: 125px;
    }

    .card-image-post {
        height: 250px;
    }

    .card-content {
        box-sizing: border-box;
        padding-left: 0.7em;
        padding-right: 0.7em;
        margin-top: -2em;
    }

    .date {
        font-size: small;
        margin-left: 0.3em;
        margin-top: 0.3em;
    }
}