<header class="mdl-layout__header mdl-layout--large-screen-only">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">JAVA_PATH</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link nav-link" href="{{ site.baseurl }}">Blog</a>
            <a class="mdl-navigation__link nav-link" href="https://maxneutrino.github.io/">About</a>
        </nav>
    </div>
</header>