<footer class="mdl-mini-footer mdl-color--white mdl-color-text--blue-grey-300">
    <div class="footer-wrapper">
        <!--<div class="mdl-logo">JAVA_PATH blog by MaxNeutrino</div>-->
        <ul class="mdl-mini-footer__link-list footer-icons">
            <li><a href="https://github.com/MaxNeutrino">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a></li>
            <li><a href="https://www.linkedin.com/in/max-stepovoy"><i class="fa fa-linkedin"
                                                                      aria-hidden="true"></i></a>
            </li>
            <li><a href="https://twitter.com/maxstepovoy"><i class="fa fa-twitter"
                                                             aria-hidden="true"></i></a></li>
            <li><a href="https://new.vk.com/cerebral_rapist"><i class="fa fa-vk" aria-hidden="true"></i></a>
            </li>
            <li><a href="https://www.facebook.com/citlalatonac"><i class="fa fa-facebook-square"
                                                                   aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>