<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>

    <link rel="stylesheet" href="{{ site.baseurl }}/style/code-highlight.polymer.css"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.red-blue.min.css"/>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/style/style.css"/>

</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">JAVA_PATH</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link nav-link" href="/">Blog</a>
                <a class="mdl-navigation__link nav-link" href="https://maxneutrino.github.io/">About</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">JAVA_PATH</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Blog</a>
            <a class="mdl-navigation__link" href="https://maxneutrino.github.io/">About</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div id="main" role="main" class="container">
                {{ content }}
                <div class="push"></div>
            </div>
        </div>

        <footer class="mdl-mini-footer">
            <div class="footer-wrapper">
                <!--<div class="mdl-logo">JAVA_PATH blog by MaxNeutrino</div>-->
                <ul class="mdl-mini-footer__link-list footer-icons">
                    <li><a href="https://github.com/MaxNeutrino">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/max-stepovoy"><i class="fa fa-linkedin"
                                                                              aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://twitter.com/maxstepovoy"><i class="fa fa-twitter"
                                                                     aria-hidden="true"></i></a></li>
                    <li><a href="https://new.vk.com/cerebral_rapist"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/citlalatonac"><i class="fa fa-facebook-square"
                                                                           aria-hidden="true"></i></a></li>
                    <li><a href="mailto:max.stepovoy@gmail.com"><i class="fa fa-envelope-o"
                                                                   aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
</div>
{% include analytics.html %}
</body>
</html>
