<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <![endif]-->

    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>

    <link rel="stylesheet" href="{{ site.baseurl }}/style/code-highlight.polymer.css"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.red-blue.min.css"/>

    <link rel="stylesheet" href="{{ site.baseurl }}/style/style.css"/>

</head>

<body style="background: url({{ site.baseurl }}/images/bg.jpg) center / cover">
<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        {% include header.html %}
        <div class="page-content">
            <div id="main" role="main" class="container">
                {{ content }}
                <div class="push"></div>
            </div>
        </div>

        {% include footer.html %}
    </main>
</div>

{% include analytics.html %}

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
</body>
</html>
